/* css common for all */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:root {
  --blue: #4156a7;
  --grey: #def0fc;
  --orange: #f7ca00;
}
.bg-orange{
  background-color: var(--orange);
  color: black;
}
.bg-grey {
  background-color: var(--grey);
  color: black;
}

/* all site heading */
.siteheading {
  padding: 1.1rem 0rem 0rem 0.8rem;
}
.siteheading h6 {
  font-weight: 550;
}
.headingunderline {
  border-top: 2px solid var(--blue);
  width: 4rem;
  margin-left: 0.8rem;
  margin-bottom: 1.6rem;

}

/* header start */

/* cutom header */
.bluebg {
  background-color: var(--blue);
  color: white;
}
#sb-toggle {
  font-size: 14px;
}
#sky-logo {
  margin-right: auto;
  margin-left: 0.6rem;
}

/* searchbar */
.searchbargrp {
  width: 45%;
}
.searchbargrp input {
  border: none;
}
#sbarbtn {
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbargrp input::placeholder {
  font-size: 14px;
}

/* bulk quote btn */
#bulkquote {
  background-color: var(--orange);
  color: black;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 7px;
  margin-left: 1.2rem;
}

/* search bar dropdrown */
#sbdropdown {
  background-color: rgb(240, 240, 240);
  color: rgb(90, 90, 90);
  font-size: 13px;
}

/* language change */
#langchange {
  font-size: 13px;
}

#langchange:hover > .dropdown-menu {
  display: block;
}

/* account and orders */
.accountordersdropd:hover > .dropdown-menu {
  display: block;
}
.accountordersdropd-inner {
  color: white;
  font-size: 13px;
}
.acntordersspan {
  display: inline-block;
  margin-top: -7px;
}

/* location */
#locicon {
  padding-top: 19px;
  margin-right: 2px;
}
#locicon span {
  font-size: 17px;
}

/* cart */
#shoppingcart {
  display: flex;
}
#cartcount {
  display: inline-flex;
  height: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

/* all nav items to be in a flex box */
#desknavitems {
  display: flex;
  padding-left: 0.8rem;
  justify-content: space-around;
}
/* all category */
#allcatbtn {
  margin-top: 1rem;
}
#allcatbtn img {
  height: 1.5rem;
}
#categoriessticktop {
  position: sticky;
  top: 0;
}
/* header end */

/* footer start */
#footer {
  background-color: var(--grey);
  padding: 0 0 30px 0;
  color: black;
  font-size: 14px;
}

#footer .footer-top {
  border-bottom: 1px solid white;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: black;
}

.footer-info img {
  height: 2.5rem;
  margin-bottom: 2.5rem;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--orange);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: var(--orange);
  color: #151515;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: black;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--blue);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: black;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: var(--blue);
}

#getusintouchform input::placeholder {
  font-size: 14px;
}
#getusintouchform textarea::placeholder {
  font-size: 14px;
}
#getusintouchform button {
  font-size: 13px;
  background-color: var(--blue);
  color: white;
}
#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: var(--orange);
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: var(--orange);
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

/* footer end */

/* sidebar in mobile and ipad */
#mob-sidebar {
  width: 75%;
  overflow-y: scroll;
}
#mobsidebarheader {
  background-color: var(--grey);
  padding: 0.8rem;
  padding-top: 0.9rem;
  box-shadow: -1px -1px 3px var(--grey);
}
#mobsidebarheader a {
  font-size: 12px;
  color: black;
}
#mobsidebarusername p {
  color: black;
  margin-bottom: 0px;
  font-weight: 550;
}

/* sidebar link items */
#mobsidebaritems {
  font-size: 14px;
  background-color: #f3f3f3;
}

.mobsidebaritem {
  padding: 0.6rem;
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #fff;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  color: rgb(88, 88, 88);
  padding-bottom: 0px;
}

.mobsidebaritem span {
  font-size: 15px;
  display: inline-block;
  padding-top: 4px;
  padding-right: 6px;
}

.mobsidebaritem a {
  margin-bottom: 1.1rem;
  font-weight: 550;
}

/* category scoller below header */

.nav-scroller {
  position: relative;
  z-index: 2;
  height: auto;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 0rem;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.categoryscollitem {
  display: flex;
  flex-direction: column;
}
.categoryscollitem img {
  height: 3rem;
}
.categoryscollitem span {
  font-size: 12px;
  color: black;
}
.categoryscollitem span:hover {
  color: var(--blue);
}

/* carousel indicators */
#carindicators {
  z-index: 1;
}

/* products on home page */

.prod-img {
  text-align: center;
  background-image: url("bg.png");
  background-size: cover;
}
.prod-img img {
  height: 5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.productdetails {
  padding: 0.5rem;
  text-align: center;
}
.prodname {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 550;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.productdetails img {
  height: 0.6rem;
}
.prodprice {
  font-size: 14px;
  font-weight: 550;
}
.permtr {
  font-size: 11px;
}

/* product discount */
.procard h1 {
  margin-top: 0.6rem;
  background-color: var(--blue);
  color: white;
  position: absolute;
  left: -10px;
  font-size: 13px;
  width: 3rem;
  padding: 4px 12px;
  letter-spacing: 1px;
  display: inline-block !important;
}
.procard h1:before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
  top: 13px;
  left: 3.5px;
}

/* products slider for top picks  */
.productscont {
  overflow: auto;
  white-space: nowrap;
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
  width: 100%;
}

/* product card */
.procard {
  width: 9rem;
  display: inline-block;
  margin-right: 0.6rem;
  margin-left: 0.2rem;
}

/* products category vise in the tabs */

.productscategorytabcont {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  padding-left: 1rem;

}
.productscategorytabcont .procard {
  margin: 1%;
}
.categorytabhead {
  font-size: 13px;
}
#tabcategory {
  overflow: auto;
  white-space: nowrap;
}
#tabcategory .nav-item {
  display: inline-block;
  margin-right: 1rem;
 
}
.categorytabhead{
  color: #151515;
  font-size: 15px;
}
#catvisetabs .nav {
  flex-wrap: nowrap;
}

/* view all btn */
.viewallbtn{
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}
.viewallbtn button{
  font-size: 13px;
  width: 100%;
}

/* Smartphones ----------- */
@media only screen and (min-device-width: 200px) and (max-device-width: 500px) {
  .offcanvas-collapse {
    position: fixed;
    visibility: hidden;
  }
  /* searchbar */
  .searchbargrp {
    width: 100%;
    background-color: var(--blue);
    padding: 7px 0px 0px 0px;
  }

  /* bulk quote */
  #bulkquote {
    display: none;
  }
  /* cart */
  #cartcount {
    height: 0.9rem;
    margin-left: 3px;
    font-size: 9px;
  }

  /* location select  */
  #selectlocicon {
    margin-right: 0.7rem;
  }
  #selectlocicon span {
    font-size: 24px;
  }

  #locationoffcanvas {
    height: 47%;
  }
  #locationoffcanvas input::placeholder {
    font-size: 12px;
  }
  #locationoffcanvas button {
    font-size: 12px;
  }
  #defaultaddress {
    padding: 0.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border: 1px solid var(--blue);
    background-color: #4155a73d;
  }

  /* carousel on mobile */
  .nextprevbtn {
    display: none;
  }

  /* products category vise */
  .productscategorytabcont .procard {
    margin: 2%;
    width: 46%;
  }

  /* footer : get in touch with us form */
  #getusintouchform form {
    padding: 1rem;
  }
}

/* iPads ----------- */
@media only screen and (min-device-width: 501px) and (max-device-width: 1024px) {
  .offcanvas-collapse {
    position: fixed;
    visibility: hidden;
  }
  /* searchbar */
  .searchbargrp {
    width: 100%;
    background-color: var(--blue);
    padding: 7px 0px 0px 0px;
  }

  /* bulk quote */
  #bulkquote {
    display: none;
  }
  /* cart */
  #cartcount {
    height: 0.9rem;
    margin-left: 3px;
    font-size: 9px;
  }
  #mob-cart {
    display: flex;
  }
  /* location select  */
  #selectlocicon {
    margin-right: 0.7rem;
  }

  /* carousel on ipad */
  .nextprevbtn {
    display: none;
  }

  /* products category vise */
  .productscategorytabcont .procard {
    margin: 1;
    width: 23%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width: 1025px) {
  /* searchbar */
  .searchbargrp {
    margin-left: 1rem;
  }
  /* cart of mobile */
  #mob-cart {
    display: none;
  }

  /* language change in desktop */
  #langchangeitems {
    font-size: 13px;
  }

  /* location set on offcanvas */
  #locationoffcanvas {
    width: 30%;
    padding: 0.5rem;
    position: absolute;
    top: 30%;
    left: 35%;
    height: 45%;
  }
  #locationoffcanvas input::placeholder {
    font-size: 13px;
  }
  #locationoffcanvas button {
    font-size: 13px;
  }
  #defaultaddress {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--blue);
    background-color: #4155a73d;
  }

  /* location select mobile */
  #selectlocicon {
    display: none;
  }

  /* account and orders dropdown view */
  #acountordersdiv {
    padding: 1rem;
    font-size: 14px;
    width: 20vw;
  }
  #youracntitemlist {
    display: flex;
    flex-direction: column;
  }
  #youracntitemlist a {
    margin-bottom: 0.2rem;
    font-size: 13px;
  }
  #youracntitemlist a:hover {
    text-decoration: underline #4156a7;
    color: #4156a7;
  }
  /* sign out button in account and orders */
  #signoutbtn {
    background-color: var(--orange);
    color: black;
    font-size: 13px;
    margin-bottom: 1rem;
  }

  /* products category vise */
  .productscategorytabcont .procard {
    margin: 1%;
    width: 18%;
  }
}
