/* css common for all */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:root {
  --blue: #4156a7;
  /* blue : #5eb1e3 
  bluish grey: #def0fc
  */
  --grey: #def0fc;
  --orange: #f7ca00;
}
.bg-grey {
  background-color: var(--grey);
  color: black;
}
body {
  padding-top: 56px;
}

/* header start */

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

/* cutom header */
.bluebg {
  background-color: var(--blue);
  color: white;
}
#sb-toggle {
  font-size: 14px;
}
#sky-logo {
  margin-right: auto;
  margin-left: 0.6rem;
}

/* searchbar */
.searchbargrp {
  width: 50%;
}
#sbarbtn {
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbargrp input::placeholder {
  font-size: 14px;
}

/* bulk quote btn */
#bulkquote {
  background-color: var(--orange);
  color: black;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 7px;
}

/* search bar dropdrown */
#sbdropdown {
  background-color: rgb(240, 240, 240);
  color: rgb(90, 90, 90);
  font-size: 13px;
}

/* language change */
#langchange {
  font-size: 13px;
}

#langchange:hover > .dropdown-menu {
  display: block;
}

/* account and orders */
.accountordersdropd:hover > .dropdown-menu {
  display: block;
}
.accountordersdropd-inner {
  color: white;
  font-size: 13px;
}
.acntordersspan {
  display: inline-block;
  margin-top: -7px;
}

/* location */
#locicon {
  padding-top: 19px;
  margin-right: 2px;
}
#locicon span {
  font-size: 17px;
}

/* cart */
#shoppingcart {
  display: flex;
}
#cartcount {
  display: inline-flex;
  height: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

/* all nav items to be in a flex box */
#desknavitems {
  display: flex;
  padding-left: 0.8rem;
  justify-content: space-around;
}
/* all category */
#allcatbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* header end */

/* sidebar in mobile and ipad */
#mob-sidebar {
  width: 75%;
  overflow-y: scroll;
}
#mobsidebarheader {
  background-color: var(--grey);
  padding: 0.8rem;
  padding-top: 0.9rem;
  box-shadow: -1px -1px 3px var(--grey);
}
#mobsidebarheader a {
  font-size: 12px;
  color: black;
}
#mobsidebarusername p {
  color: black;
  margin-bottom: 0px;
  font-weight: 550;
}

/* sidebar link items */
#mobsidebaritems {
  font-size: 14px;
  background-color: #f3f3f3;
}

.mobsidebaritem {
  padding: 0.6rem;
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #fff;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  color: rgb(88, 88, 88);
  padding-bottom: 0px;
}

.mobsidebaritem span {
  font-size: 15px;
  display: inline-block;
  padding-top: 4px;
  padding-right: 6px;
}

.mobsidebaritem a {
  margin-bottom: 1.1rem;
  font-weight: 550;
}


/* Smartphones ----------- */
@media only screen and (min-device-width: 200px) and (max-device-width: 500px) {
  .offcanvas-collapse {
    position: fixed;
    visibility: hidden;
  }
  /* searchbar */
  #searchbarmob {
    width: 100%;
    background-color: var(--blue);
    padding: 0.3rem 0.4rem;
  }
  #searchbarmob input {
    border: none;
  }

  /* cart */
  #cartcount {
    height: 0.9rem;
    margin-left: 3px;
    font-size: 9px;
  }

  /* location select  */
  #selectlocicon {
    margin-right: 0.7rem;
  }
  #selectlocicon span {
    font-size: 24px;
  }

  #locationoffcanvas {
    height: 47%;
  }
  #locationoffcanvas input::placeholder {
    font-size: 12px;
  }
  #locationoffcanvas button {
    font-size: 12px;
  }
  #defaultaddress {
    padding: 0.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border: 1px solid var(--blue);
    background-color: #4155a73d;
  }
}

/* iPads ----------- */
@media only screen and (min-device-width: 501px) and (max-device-width: 1024px) {
  .offcanvas-collapse {
    position: fixed;
    visibility: hidden;
  }
  /* searchbar */
  #searchbarmob {
    width: 100%;
    background-color: var(--blue);
    padding: 0.3rem 0.4rem;
  }
  #searchbarmob input {
    border: none;
  }
  /* cart */
  #cartcount {
    height: 0.9rem;
    margin-left: 3px;
    font-size: 9px;
  }
  #mob-cart {
    display: flex;
  }
  /* location select  */
  #selectlocicon {
    margin-right: 0.7rem;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width: 1025px) {
  /* search bar of mobile */
  #searchbarmob {
    display: none;
  }

  /* cart of mobile */
  #mob-cart {
    display: none;
  }

  /* language change in desktop */
  #langchangeitems {
    font-size: 13px;
  }

  /* location set on offcanvas */
  #locationoffcanvas {
    width: 30%;
    padding: 0.5rem;
    position: absolute;
    top: 30%;
    left: 35%;
    height: 45%;
  }
  #locationoffcanvas input::placeholder {
    font-size: 13px;
  }
  #locationoffcanvas button {
    font-size: 13px;
  }
  #defaultaddress {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--blue);
    background-color: #4155a73d;
  }

  /* location select mobile */
  #selectlocicon {
    display: none;
  }

  /* account and orders div */
  #acountordersdiv {
    padding: 1rem;
    font-size: 14px;
    width: 20vw;
  }
  #youracntitemlist {
    display: flex;
    flex-direction: column;
  }
  #youracntitemlist a {
    margin-bottom: 0.2rem;
    font-size: 13px;
  }
  #youracntitemlist a:hover {
    text-decoration: underline #4156a7;
    color: #4156a7;
  }
  /* sign out button in account and orders */
  #signoutbtn {
    background-color: var(--orange);
    color: black;
    font-size: 13px;
    margin-bottom: 1rem;
  }
}
