/* css common for all */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #4156a7;
  --orange: #f7ca00;
}

body {
  padding-top: 56px;
}

/* header start */

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    visibility: hidden;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

/* cutom header */
.bluebg {
  background-color: var(--blue);
  color: white;
}
#sb-toggle {
  font-size: 14px;
}
/* header end */

/* Smartphones ----------- */
@media only screen and (min-device-width: 200px) and (max-device-width: 500px) {
}

/* iPads ----------- */
@media only screen and (min-device-width: 501px) and (max-device-width: 850px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 851px) {
}
